.RegisterContainer {
  background-image: url('./../../../assets/imgs/signup-back.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  height: 100%;
}
.RegisterSideText {
  color: #ffffff;
}
.RegisterForms {
  width: 450px;
  height: 450px;
  margin-top: 100px;
  background: linear-gradient(
      180deg,
      rgba(243, 235, 235, 0.2) 98.78%,
      rgba(0, 0, 0, 0) 100%
    ),
    linear-gradient(180deg, #434343 0%, rgba(67, 67, 67, 0) 100%);
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.RegisterBodyContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.RegisterButtonStart {
  height: 64px;
  width: 277px;
  background: linear-gradient(180deg, #434343 0%, rgba(67, 67, 67, 0) 100%);
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  border-radius: 10px;
  color: #ffffff;
}
.Registerbox-down {
  display: flex;
  flex-direction: column;
  margin: 15px;
}
.Registerbox-down  > div {
  padding: 10px;

}
input {


}