.HomeContainer {
  background-image: url('./../../../assets/imgs/home-back.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  height: 100%;
}
.SideText {
  color: #ffffff;
}
.BodyContainer {
  display: grid;
  margin-top: 250px;
  grid-template-columns: 1fr 1fr;
}
.ButtonStart {
  height: 64px;
  width: 277px;
  background: linear-gradient(180deg, #434343 0%, rgba(67, 67, 67, 0) 100%);
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  border-radius: 10px;
  color: #ffffff;
}
